.form-section-contactus {
  display: flex;
  flex-direction: column;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.centered-form {
  margin: 0 auto;
  margin-top: 100px;
  
}

.form-contact {
  display: flex;
  flex-direction: column;
 

}

.form-contact {
  align-items: center;
  
}

label {
    color: #FFFFFF;
    margin-right: 430px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: left;

}

.input-contact {
  border: solid 1px;
  border-color: #495567;
  height: 30px;
  width: 500px;
  border-radius: 5px;
  margin-bottom: 20px;
  
}

.input-button {
  height: 40px;
  width: 158px;
  border-radius: 0px;
  background-color: #000000;
  color: #ffffff;
  border: none;
}



.contact-us-header {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.166666507720947px;
    text-align: center;
    color: #FFFFFF;

}

.result-msg {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    color: #fa7064;
}

.background-image {
    height: 100vh;
}


