.main {
  width: 100%;
  height: 100%;
}

video {
  width: 100vw;
  height: 120vh;
 
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,.4);

}

.master_logo {
  margin-bottom: -50px;
  margin-top: -180px;
  
  
}

.buttons_master {
  
 background-color: transparent;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  font-size: 15px;  
}

.buttons_master:hover {
      background-color: rgb(192, 171, 171);
      transition: 0.7s;
  }


  .master_container_one {
    border: 2px solid white;
    height: 300px;
    width: 300px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    
    
  }

  .buttons_master {
    margin-top: 30px;
  }
  

  .master_info_boxes {
    display: flex;
    flex-direction: row;
    
  }

  .margin_right {
    margin-right: 10px;
  }

  @media (max-width: 960px) {
 
 .master_info_boxes {
  display: flex;
  flex-direction: column;
 }

 .master_logo {
  margin-top: 280px;
}


video {
  height: 180vh;
}

.overlay {
  height: 180vh;

}

.master_container_one {
  margin-bottom: 20px;
}


}